//META{"name":"LargeProfilePicture","description":"Original made by Cruxie#7681 and adapted by me for a new discord version","author":"Board#0001","version": "AutoUpdate"}*//{}
.avatarPositionNormal-aZjAsn, .avatarPositionPremium-3We5Ho {
    top: 0px;
    left: 0px;
}
#app-mount .avatar-37jOim {
	border: 0px !important;
	background-color: #0000 !important;
}
#app-mount .avatarWrapperNormal-26WQIb  > .wrapper-3t9DeA[style*="width: 80px;"] {
	width: 300px !important;
	height: 300px !important;
}
#app-mount .headerNormal-1mX3KY {
	padding-top: 300px !important;
}
.avatarHint-2A3RNb {
	height: 300px;
	width: 300px;
	top: 0px;
	left: 0px;
}
.banner-2QYc2d {
	display: none
}
.headerTop-2cWpdB {
	padding-top: 16px;
}
.userPopout-xaxa6l .wrapper-3t9DeA foreignObject {
    -webkit-mask: none !important;
    mask: none !important;
}
.avatarHintInner-1TvA8u {
	box-shadow: none;
}
